@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
  font-family: 'Inter', sans-serif;
}

#con{
  z-index: 1000;
}

#Nav{
  background-color: black !important;
  padding: 10px;
}

.nav-link{
  color: white !important;
  font-size: 15px !important;
}

#leftlink{
  transition: transform .2s;
}

#leftlink:hover{
  color: black !important;
  transform: scaleY(0.65) !important;
}

#basic-nav-dropdown{
  color: white !important;
  
}

#nav-dropdown-con{
  font-size: 13px !important;
}

#navbtn{
  background-color: black !important;
  border-color: black !important;
}

#navbtn:hover{
  background-color: white !important;
  border-color: white !important;
  color: black !important;
}

#divlink{
  transition: transform .2s;
}

#divlink:hover{
  background-color: rgb(255, 255, 255);
  transform: scaleY(1.58);
}

#shopcart{
  color: white;
}

#shopcart:hover{
  background-color: white;
  color:black;
}
/* .navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(19, 19, 19);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.links a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 25px;
} */
